<% 
    # __url : Url to point to
    # __method : RESTFUL HTTP Verbs such as : GET PUT POST DELETE
    # __label : Label of this link
%>
<a href="<%= url %>" data-method="<%= method %>"><%= label %></a>